.combination-row {
    display: flex;
    align-items: center;
  }
  
  .delete-button {
    margin-right: 10px;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 1.2em;
  }
  
  .combination-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
.combination-timetable{
    background-color: #815077;
}

  .combination-toggle:hover {
    cursor: pointer;
    color: bisque;
  }

  .combination-popup {
    padding: 20px;
    border-radius: 5px;
    position: relative;
    width: 833px;
    max-width: 1000px;
    max-height: 90vh;
    overflow-y: auto;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5em;
    background: none;
    border: none;
    cursor: pointer;
  }

  .download-button {
    position: absolute;
    top: 10px;
    left: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    z-index: 1000;
  }