.csv-uploader {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  width: 222px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.file-select-button {
  background-color: #2a2a2a;
}

.upload-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}